<div class="container my-4">
    <div class="row">
        <div class="col-lg-8">
            <owl-carousel-o [options]="customOptions" class="bg-danger">
                @for (item of products; track $index) {
                <ng-template carouselSlide>
                    <img height="400px" [src]="item.imageCover" alt="Slide-image" srcset="">
                </ng-template>}
            </owl-carousel-o>
        </div>
        <div class="col-lg-4">
            <img height="200px" width="100%" [src]="products[1].imageCover" alt="Slide-image" srcset="">
            <img height="200px" width="100%" [src]="products[0].imageCover" alt="Slide-image" srcset="">
        </div>
    </div>
</div>
<div class="container my-4">
    <div class=" m-5">
        <input [(ngModel)]="searchWord" class="form-control my-4" type="text" placeholder="Search by title">
        <h5 class="text-center">{{searchWord}}</h5>
    </div>
    <div class="row">
        @for (item of products|search:searchWord; track $index) {
        <div class="col-lg-3 mb-3">
            <div class="card cursor-pointer">
                <div class="" [routerLink]="['/product-detalis',item.id]">
                    <img [src]="item.images[0]" class="card-img-top" alt="product-image">
                    <div class="card-body">
                        <span class="card-text text-main mt-5">{{item.category.name}}</span>
                        <h5 class="card-title">{{item.title}}</h5>
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="card-text">{{item.price|currency:'EGP '}}</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-star text-warning"></i>
                                <span class="card-text">{{item.ratingsAverage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn bg-main text-white d-block w-75 mx-auto my-3" (click)="addToCart(item.id)">
                    Add To Cart</button>
            </div>
        </div>
        }
    </div>
</div>