<section class="container bg-main-light rounded-4 shadow pt-5 my-5">
    <div class="p-5">
        <h1 class="h2 text-center text-main ">Your Wish List :</h1>
    </div>
    
    @for (product of products; track product.id) {
    <div class="row mb-2 border-bottom">
        <div class="col-md-1">
            <div>
                <img [src]="product.imageCover" class="w-100" [alt]="product.title">
            </div>
        </div>
        <div class="col-md-11">
            <div>
                <h3 class="h5 " >{{product.title}}</h3>
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="card-text">{{product.price|currency:'EGP '}}</span>
                    </div>
                    <div>
                        <div>
                            @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {
                            <i class="fa-solid fa-star text-warning"></i>
                            }
                            @if (product.ratingsAverage % 1 !== 0 ) {
                            <i class="fa-solid fa-star-half-stroke text-warning"></i>
                            }
                            <span class="card-text">{{product.ratingsAverage}}</span>
                        </div>
                        <span class="card-text">{{product.ratingsAverage}}</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between px-4 mb-3 text-danger">
                    <i (click)="RemoveItem(product.id)" class="fa-solid fa-trash-can cursor-pointer"></i>
                    <button class="btn-main w-75 " (click)="addToCart(product.id)">
                        {{'Add To Cart'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    }
</section>