<!-- navbar  -->
<nav class="navbar navbar-expand-lg bg-main-light position-fixed fixed-top">
    <div class="container">
        <a class="navbar-brand">
            <img src="assets/images/freshcart-logo.svg" alt="freshcart-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- pages -->
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            @if (isLogin) {
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="home"
                        routerLinkActive="text-main">{{'Home'|translate}}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="wish list"
                        routerLinkActive="text-main">{{'Wish List'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="products"
                        routerLinkActive="text-main">{{'Products'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="categories"
                        routerLinkActive="text-main">{{'Categories'|translate}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="brands"
                        routerLinkActive="text-main">{{'Brands'|translate}}</a>
                </li>
            </ul>
            }
            <!-- icons -->
            <div class="d-flex align-items-center">
                @if (isLogin) {
                <div class="">
                    <ul class="navbar-nav d-flex align-items-center gap-3 px-4">
                        <li class="nav-item">
                            <a class="nav-link active position-relative" aria-current="page" routerLink="cart"
                                routerLinkActive="text-main">
                                <i class="fa-solid fa-cart-shopping fa-xl cursor-pointer"></i>
                                <span class="badge bg-success position-absolute top-0 start-0">{{countNumber}}</span>
                            </a>
                        </li>
                        <li class="nav-item"><i class="fa-brands fa-instagram"></i></li>

                        <li class="nav-item"><i class="fa-brands fa-facebook"></i></li>

                        <li class="nav-item"><i class="fa-brands fa-tiktok"></i></li>

                        <li class="nav-item"><i class="fa-brands fa-twitter"></i></li>

                        <li class="nav-item"><i class="fa-brands fa-linkedin"></i></li>

                        <li class="nav-item"> <i class="fa-brands fa-youtube"></i></li>

                    </ul>
                </div>
                }
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (!isLogin) {
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="login"
                            routerLinkActive="text-main">{{'Login'|translate}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="register"
                            routerLinkActive="text-main">{{'Register'|translate}}</a>
                    </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{'lang'|translate}}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <div>
                                    <img (click)="chingeLang('en')" class=" w-25"
                                        src="./assets/images/united-kingdom-uk-svgrepo-com (1).svg"
                                        alt=" logo-for-english">
                                </div>
                            </li>
                            <li class="nav-item">
                                <div>
                                    <img (click)="chingeLang('ar')" class=" w-25"
                                        src="./assets/images/flag-for-egypt-svgrepo-com (1).svg" alt="logo-for-arabic">
                                </div>
                            </li>
                        </ul>
                    </li>
                    @if (isLogin) {
                    <li class="nav-item">
                        <a class="nav-link active cursor-pointer" (click)="logout()"
                            aria-current="page">{{'Logout'|translate}}</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>