<div class="container my-4">
    <div class="row">
        @for (item of product; track $index) {
        <div class="col-lg-3 mb-3">
            <div class="card ">
                <div class="cursor-pointer" [routerLink]="['/product-detalis',item.product.id]">
                    <img [src]="item.product.imageCover" class="card-img-top" alt="product-image">
                    <div class="card-body">
                        <span class="card-text text-main mt-5">{{item.product.category.name}}</span>
                        <h5 class="card-title">{{item.product.title}}</h5>
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="card-text">{{item.price|currency:'EGP '}}</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-star text-warning"></i>
                                <span class="card-text">{{item.product.ratingsAverage}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 ">
                    <div class="d-flex justify-content-center mb-3 bg-main align-items-center rounded-3">
                        <i (click)="ubdateQantity(item.product.id,item.count+1)"
                            class="fa-solid fa-plus text-main rounded-3 p-1 bg-white mx-3 cursor-pointer"></i>
                        <p class="fw-bold fs-4 text-white">{{item.count}}</p>
                        <i (click)="ubdateQantity(item.product.id,item.count-1)"
                            class="fa-solid fa-minus text-main rounded-3 p-1 bg-white mx-3 cursor-pointer"></i>
                    </div>
                </div>
                <div class="d-flex justify-content-end px-4 mb-3 text-danger">
                    <i (click)="deleteProduct(item.product.id)" class="fa-solid fa-trash-can cursor-pointer"></i>
                </div>
            </div>
        </div>
        }
    </div>
</div>